server{
  listen 80;
  listen [::]:80;
  server_name _;
  root /workdir/dist;

  location / {
    try_files /index.html =404;
  }

  location = /index.html {
    try_files /index.html =404;
  }

  location = /favicon.ico {
    try_files /favicon.ico =404;
  }

  location /static {
    try_files $uri =404;
  }
}